<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="wide wow-animation" lang="pl">

  <head th:insert="~{fragments/part :: head}"/>
  <body>
    <header th:insert="~{fragments/part :: headerLogin}"/>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em th:text="${donationsQuantity}"></em>
          <h3>Oddanych worków</h3>
        </div>

        <div class="stats--item">
          <em th:text="${givenDonationsQuantity}"></em>
          <h3>Przekazanych darów</h3>
        </div>
      </div>
    </section>

    <section>
      <div class="slogan container container--90" style="text-align: center">
        <div class="slogan--item">
          <h1>
            <button><a href="/gift/add">Przekaż dar</a></button>
          </h1>
        </div>
      </div>
    </section>

    <section class="form-group steps" th:each="donation: ${donations}">
      <div class="steps--container" >
        <div class="steps--item" >
          <span class="icon icon--hands"></span>
          <h3>Przekazane do fundacji: <p th:text="${donation.institution.name}"/></h3>
          <p>Ilość worków: <p th:text="${donation.quantity}"/>
          <p>Data odbioru: <p th:text="${donation.pickUpDate}"/>
          <p>Czas odbioru: <p th:text="${donation.pickUpTime}"/>
          <p>Miasto: <p th:text="${donation.city}"/>
          <p>Ulica: <p th:text="${donation.street}"/>
          <p>Kod pocztowy: <p th:text="${donation.zipCode}"/>
          <p>Numer telefonu: <p th:text="${donation.phone}"/>
          <p>Komentarz dla kuriera: <p th:text="${donation.pickUpComment}"/>
          <p>Status dostarczenia: <p th:text="${donation.delivered} ? 'TAK' : 'NIE'"></p>

          <div th:switch="${donation.delivered}">
            <p th:case="${false}">
              <form th:method="post" th:action="@{/gift/edit}" >
                <input type="hidden" name="id" th:value="${donation.id}">
                <button type="submit" class="btn--highlighted" >EDIT</button>
               </form>
            </p>
          </div>

          <div th:switch="${donation.delivered}">
            <p th:case="${false}">
              <form th:method="post" th:action="@{/gift/delete}" >
                <input type="hidden" name="id" th:value="${donation.id}">
                <button type="submit" class="btn--highlighted" >DELETE</button>
               </form>
            </p>
          </div>


        </div>
      </div>

    </section>


    <footer th:insert="~{fragments/part :: footer}"/>

    <script src="js/app.js"></script>
  </body>
</html>
