<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="wide wow-animation" lang="pl">

<head th:insert="~{fragments/part :: head}"/>
<body>
<header th:insert="~{fragments/part :: headerLogin}"/>



<section class="form-group steps" th:each="institution: ${institutions}">

  <div class="steps--container">
    <div class="steps--item">
      <span class="icon icon--hands"></span>
      <h3>Fundacja: <p th:text="${institution.name}"/></h3>
      <p th:text="${institution.description}"/>
    </div>
  </div>

</section>


<footer th:insert="~{fragments/part :: footer}"/>

<script src="js/app.js"></script>
</body>
</html>
