<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="wide wow-animation" lang="en">
  <head th:insert="~{fragments/part :: head}"/>
  <body>
    <header th:insert="~{fragments/part :: header}"/>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em th:text="${donationsQuantity}"></em>
          <h3>Oddanych worków</h3>
        </div>

        <div class="stats--item">
          <em th:text="${givenDonationsQuantity}"></em>
          <h3>Przekazanych darów</h3>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="/registration" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Utrzymujemy punkt tranzytowy pod Krzemieńczukiem, do którego trafiają ludzie z Charkowa i okolic. Dostarczamy do Ukrainy żywność, artykuły higieniczne, butle gazowe, środki medyczne. Wciąż prowadzimy ewakuacje na zachód Ukrainy i do Polski, w tym ewakuacje medyczne. Kupujemy, dostarczamy oraz przekazujemy leki do szpitali.</p>
        <img src="images/signature.svg" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="images/about-us.jpg" alt="People in circle" /></div>
    </section>

    <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
          Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items" >
            <h1><a href="/institution" class="btn btn--without-border">Fundację</a></h1>
        </ul>
      </div>

    </section>
    <footer th:insert="~{fragments/part :: footer}"/>

    <script src="js/app.js"></script>
  </body>
</html>
