<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="wide wow-animation" lang="pl">
  <head th:insert="~{fragments/part :: head}" />

  <body>
  <header th:insert="~{fragments/part :: header}" />

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form th:method="post" th:action="@{/login}">
        <div class="form-group">
          <input type="text" name="username" placeholder="Email " id="username" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password " id="password" />
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="/registration" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
  <footer th:insert="~{fragments/part :: footer}"/>

  </body>
</html>
